<div class="row text-right sish-miga-de-pan">
    <div class="col-md-12 text-right">
        <ol class="breadcrumb float-sm-right sish-miga-de-pan">
            <li class="breadcrumb-item active">Configuración</li>
            <li class="breadcrumb-item active" [routerLink]="['/configuracion/parametros']">
                {{ 'campos' | translate }}
            </li>
            <li class="breadcrumb-item">
                {{ id === "0" ? "Crear" : "Editar" }}
            </li>
        </ol>
    </div>
</div>
<div class="container-fluid bg-white pt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="sish-titulo-formulario">
                {{ 'archivo' | translate }} {{ 'campos' | translate }} : {{ id === "0" ? "Nuevo" : id }}
            </h2>
            <hr />
        </div>
    </div>
    <form class="sish-form" #ngForm="ngForm" [formGroup]="formularioArchivoCampos" (ngSubmit)="guardar()" novalidate>
        <input name="idTipoArchivoCampo" formControlName="idTipoArchivoCampo" type="hidden" />
        <!-- <input name="idTipoArchivoConfigurado" formControlName="idTipoArchivoConfigurado" type="hidden" /> -->

        <div class="row" width="100%">
            <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="campos"> {{ 'codigo' | translate }} {{'propiedad'| translate}} *</label>
                <input type="text" class="form-control" formControlName="codigoPropiedad" name="codigoPropiedad" placeholder="{{'Nombre'|translate}} {{'archivo'|translate}}" />
                <p *ngIf="ngForm.submitted && codigoPropiedad!.invalid" class="error">
                    <sup>*</sup> {{ 'codigo' | translate }} {{'obligatoria'|translate}}
                </p>

            </div>

            <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="campos"> {{ 'campo' | translate }} {{'relacionado'| translate}} *</label>
                <input type="text" class="form-control" formControlName="campoRelacionado" name="campoRelacionado" placeholder="{{'Nombre'|translate}} {{'archivo'|translate}}" />

                <p *ngIf="ngForm.submitted && campoRelacionado!.invalid" class="error">
                    <sup>*</sup> {{ 'campo' | translate }} {{'obligatoria'|translate}}
                </p>
            </div>


            <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="campos"> {{ 'tipo' | translate }} {{ 'archivo' | translate }} {{ 'columna' | translate }}</label>
                <ng-select2 name="idTipoArchivoColumna" [data]="listTipoArchivoColumna" formControlName="idTipoArchivoColumna" [width]="'100%'" placeholder="{{'Seleccionar'|translate}} {{ 'archivo' | translate }}{{ 'columna' | translate }}...">
                </ng-select2>

                <p *ngIf="ngForm.submitted && idTipoArchivoColumna!.invalid" class="error">
                    <sup>*</sup> {{ 'tipo' | translate }} {{'obligatoria'|translate}}
                </p>

            </div>
            <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="campos">   {{ 'archivo' | translate }} {{ 'columna' | translate }} {{ 'propiedad' | translate }} </label>
                <ng-select2 name="idTipoArchivoColumnaPropiedad" [data]="listTipoColumnaPropiedad" formControlName="idTipoArchivoColumnaPropiedad" [width]="'100%'" placeholder="{{'Seleccionar'|translate}} {{ 'columna' | translate }} {{ 'propiedad' | translate }}...">
                </ng-select2>

                <p *ngIf="ngForm.submitted && idTipoArchivoColumnaPropiedad!.invalid" class="error">
                    <sup>*</sup> {{ 'archivo' | translate }} {{'obligatoria'|translate}}
                </p>

            </div>

            <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="campos"> {{ 'parametro' | translate }}</label>
                <ng-select2 name="idParametro" [data]="listparametro" formControlName="idParametro" [width]="'100%'" placeholder="{{'Seleccionar'|translate}} {{'parametro'|translate}}...">
                </ng-select2>

                <p *ngIf="ngForm.submitted && idParametro!.invalid" class="error">
                    <sup>*</sup> {{ 'parametro' | translate }} {{'obligatoria'|translate}}
                </p>
            </div>
        </div>

        <!--BOTONES-->
        <div class="row">
            <div class="form-group col-xl-12 col-lg-6 col-sm-12 ">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="submit" class="sish-boton-confirmar" *ngIf="id== '0'">
                        
                        {{ 'Botones.Crear' | translate }}
                        </button>
                    <button type="submit" class="sish-boton-confirmar" *ngIf="id!= '0'">
                        {{ 'Botones.Guardar' | translate }}
                        </button>
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="sish-boton-cancelar" [routerLink]=rutacancelar>
                                {{ 'Botones.Cancelar' | translate }}
                            </button>
                </div>
            </div>
        </div>
    </form>


</div>