<div class="row text-right sish-miga-de-pan" style ="margin-top: 60px;">
    <div class="col-md-12 text-right">
        <ol class="breadcrumb float-sm-right sish-miga-de-pan">
            <li class="breadcrumb-item active"> {{'Configuracion'|translate}}</li>
            <li class="breadcrumb-item"> {{ 'GestionReportes' | translate }}</li>
        </ol>
    </div>
</div>

<div class="container-fluid bg-white pt-5">
    <div class="row">
        <div class="col-md-12" style="position: relative;">
            <h2 class="sish-titulo-formulario" style="float: left; position: relative; ">Reporte Caudales Aforados</h2> 
            <hr style="margin-top: 40px;"/>
        </div>
    </div>

    <app-datatable [datos]="datosFilter" [opciones]="columnas" [id]="'idAforo'" 
        [consultarRegistros]="false" [editarRegistros]="false" [eliminarRegistros]="false" 
        [cambiarEstadoRegistros]="false" [verFiltros]="false" [verColumnas]="validarPermiso('ConsultarReporte')" 
        [crear]="false" [copiar]="validarPermiso('ConsultarReporte')" 
        [imprimir]="validarPermiso('ConsultarReporte')" [excel]="validarPermiso('ConsultarReporte')" 
        [seleccionarRegistro]="false">
    </app-datatable>

    <div class="row">
        <div class="text-center">
            <button class="sish-boton-cancelar" (click) = "goBack()">
                {{"Botones.Regresar"|translate}}
            </button>
        </div>
    </div>
</div>
