
<!-- Miga de Pan -->
<div class="row text-right sish-miga-de-pan">
  <div class="col-md-12 text-right">
      <ol class="breadcrumb float-sm-right sish-miga-de-pan">
          <li class="breadcrumb-item active"></li>
          <li class="breadcrumb-item"></li>
      </ol>
  </div>
</div>


<!-- Título -->
<div class="container-fluid bg-white pt-5">
  <div class="row">
    <div class="col-md-12">
        <h2 class="sish-titulo-formulario">{{'Carga'|translate}} {{'de'|translate}} {{' archivos'|translate}} {{'con'|translate}} {{' formato'|translate}}</h2>
        <hr />
    </div>
  </div>
</div>

<!-- Formulario -->
<form class="sish-form" #ngForm="ngForm" [formGroup]="fmrCargueArchivo" (ngSubmit)="subirArchivo()" >
  <div class="row">

    <!-- <div> -->
      <!-- Selector del Formato a Procesar... -->
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <label>{{'Formato de archivo'|translate}} * </label>
        <ng-select2 name="formatos" [data]="listaFormatos" (ngModelChange)="onFormatoChange($event)" [(ngModel)]="idFormato" formControlName="ctrFormatos" [width]="'100%'" placeholder="Seleccione el formato del archivo a procesar.">
        </ng-select2>
        <p *ngIf="ngForm.submitted && idFormato==0" class="error">
          <sup>*</sup> {{'Formato'|translate}} {{'obligatorio'|translate}}.
        </p>
      </div>
      <!-- Selector de la frecuencia a Procesar... -->
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <label>{{'Frecuencia de los parámetros'|translate}} * </label>
        <ng-select2 name="frecuencias" [data]="listaFrecuencias" (ngModelChange)="onFrecuenciaChange($event)" [(ngModel)]="idFrecuencia" formControlName="ctrFrecuencias" [width]="'100%'" placeholder="Seleccione la frecuencia de los parámetros a procesar.">
        </ng-select2>
        <p *ngIf="ngForm.submitted && idFrecuencia==0" class="error">
          <sup>*</sup> {{'Frecuencia'|translate}} {{'obligatorio'|translate}}.
        </p>
      </div>
    <!-- </div> -->

    <!--RadioBotones de Estaciones/Embalses/Pozos -->
    <div class="text-center form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 " width="100%">
      <br>
      <div class="center form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="rbTipoParametro" (change)="cambioParametro($event)" name="rbTipoParametro" id="rbTipoParametro" value="1">
          <label class="form-check-label" for="inlineRadio1">{{'Estaciones'|translate}}</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="rbTipoParametro" (change)="cambioParametro($event)" name="rbTipoParametro" id="rbTipoParametro" value="2">
          <label class="form-check-label" for="inlineRadio2">{{'Embalses'|translate}}</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="rbTipoParametro" (change)="cambioParametro($event)" name="rbTipoParametro" id="rbTipoParametro" value="3">
          <label class="form-check-label" for="inlineRadio3">{{'Pozos'|translate}}</label>
      </div>
    </div>

    <!-- Combo de Estacion/Embalse/Pozo -->
    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12"  *ngIf="this.fmrCargueArchivo.value.rbTipoParametro==1 ||this.fmrCargueArchivo.value.rbTipoParametro==0 ">
      <label>{{'Estación'|translate}} * </label>
      <ng-select2 name="estaciones" [data]="listaEstaciones" (ngModelChange)="obtenerParametrosElemento($event)" [(ngModel)]="idElemento" formControlName="ctrEstaciones" [width]="'100%'" placeholder="Seleccione la estación">
      </ng-select2>
      <p *ngIf="ngForm.submitted && idElemento==0" class="error">
        <sup>*</sup> {{'Estación'|translate}} {{'obligatorio'|translate}}.
      </p>
    </div>
    <div  class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="this.fmrCargueArchivo.value.rbTipoParametro==2">
      <label>{{'Embalse'|translate}} * </label>
      <ng-select2 name="embalse" [data]="listaEmbalses" (ngModelChange)="obtenerParametrosElemento($event)" [(ngModel)]="idElemento" formControlName="ctrEmbalses" [width]="'100%'" placeholder="Seleccione el embalse">
      </ng-select2>
      <p *ngIf="ngForm.submitted && idElemento==0" class="error">
        <sup>*</sup> {{'Embalse'|translate}} {{'obligatorio'|translate}}.
      </p>
      </div>
    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12"  *ngIf="this.fmrCargueArchivo.value.rbTipoParametro==3">
      <label>{{'Pozo'|translate}} * </label>
      <ng-select2 name="pozos" [data]="listaPozos" (ngModelChange)="obtenerParametrosElemento($event)" [(ngModel)]="idElemento" formControlName="ctrPozos" [width]="'100%'" placeholder="Seleccione el pozo">
      </ng-select2>
      <p *ngIf="ngForm.submitted && idElemento==0" class="error">
        <sup>*</sup> {{'Pozo'|translate}} {{'obligatorio'|translate}}.
      </p>
    </div>

      <!-- Combo Nombre Parametro -->
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="this.mostrarParametros">
        <!-- <label>{{ 'Parámetro'|translate}} *</label> -->
        <label>{{'Parámetro'|translate}} *</label>
        <ng-select2 name="nombreParametro" [data]="listaNombreParametros" [(ngModel)]="idParametro" formControlName="nombreParametro" [width]="'100%'" placeholder="Seleccione el parámetro">
        </ng-select2>
        <p *ngIf="ngForm.submitted && idParametro==0" class="error">
          <!-- <sup>*</sup> {{ "Nombre Parámetro" | translate }} {{ "obligatorio" | translate }} -->
          <sup>*</sup> {{'Parámetro'|translate}} {{'obligatorio'|translate}}.
        </p>
      </div>

    <!-- Combo Codigo Parametro -->
    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="this.mostrarParametros">
      <!-- <label> {{ 'Código' | translate }} {{ 'Parámetro' | translate }} * </label> -->
      <label>{{'Código'|translate}} {{'Parámetro'|translate}} *</label>
      <ng-select2 name="codigoParametro"  [data]="listaCodigoParametros" [(ngModel)]="idParametro" formControlName="codigoParametro" [width]="'100%'" placeholder="{{ 'Seleccionar' | translate }} {{'código' | translate}}...">
      </ng-select2>
      <p *ngIf="ngForm.submitted && idParametro==0" class="error">
        <!-- <sup>*</sup> {{ "Código" | translate }} {{ "obligatorio" | translate }} -->
        <sup>*</sup> {{'Código'|translate}} {{'Parámetro'|translate}} {{'obligatorio'|translate}}.
      </p>
    </div>

    <!-- Combo Flag Observacion -->
    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <!-- <label> {{ 'Flag' | translate }} {{ 'observación' | translate }} * </label> -->
      <label>{{'Flag'|translate}} {{'Observación'|translate}} * </label>
      <ng-select2 name="flagObservacion" [(ngModel)]="idFlag" [data]="listaflag" formControlName="idFlag" [width]="'100%'" placeholder="{{ 'Seleccione' | translate }} {{'observación' | translate}}...">
      </ng-select2>

      <!-- <p *ngIf="ngForm.submitted && flag==0" class="error"> -->
      <p *ngIf="ngForm.submitted && idFlag==0" class="error">
          <!-- <sup>*</sup> {{ "Flag" | translate }} {{ "obligatorio" | translate }} -->
          <sup>*</sup>{{'Flag'|translate}} {{'Observación'|translate}} {{'obligatorio'|translate}}.
      </p>
    </div>

    <div class="row">
      <!-- Campo Browse for file... -->
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <section class="section-preview">        
          <div class="input-group my-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{'Archivo'|translate}} *</span>
            </div>
            <div class="custom-file">
              <input type="file" accept="txt/csv"  class="custom-file-input" id="inputFileServer" (change)="cargarArchivo($event)" aria-describedby="inputGroupFileAddon01">
              <label id="archivoNombre" class="custom-file-label" for="inputGroupFile01">{{'Examinar'|translate}}</label>
            </div>
          </div>
          <div>
            <p *ngIf="ngForm.submitted && archivoRuta.length==0" class="error">
              <sup>*</sup> {{'Archivo'|translate}} {{'obligatorio'|translate}}.
            </p>
          </div>
        </section>
      </div>
      <!-- Label: Total Registros a Cargar... -->
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="totalRegistrosEsperados > 0">
        <section class="section-preview">        
          <div class="input-group my-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{'Total'|translate}} {{'registros'|translate}} {{'a'|translate}} cargar: {{totalRegistrosEsperados}}</span>
            </div>
          </div>    
        </section>
      </div>
    </div>

    <div class="row">
        <!-- Barra de Progreso -->
        <div class="progress form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="progress-bar" role="barraProgreso" [style.width.%]="[porcentaje]" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{porcentaje}}%</div>
        </div>
        <!-- Label: Total Registros Cargados... -->
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngIf="porcentaje==100">
          <section class="section-preview">        
            <div class="input-group my-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">{{'Total'|translate}} {{'registros'|translate}} {{'cargados'|translate}}: {{totalRegistrosCargados}}</span>
              </div>
            </div>    
          </section>
        </div>
    </div>

    <!-- Barra de Botones de Submit and Cancel -->
    <div class="row">
      <div class="form-group col-xl-6 col-lg-6 col-sm-12 ">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button class="sish-boton-confirmar" type="submit">
            {{'Cargar información'|translate}}
          </button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="sish-boton-cancelar" [routerLink]="['/procesararchivos/consultararchivos']">
              {{'Botones.Cancelar'|translate}}
            </button>
        </div>
      </div>
    </div>

    <!-- TextArea con los Resultados del cargue... -->
    <div class="row" *ngIf="totalRegistrosErrores > 0">
      <div class="form-group col-xl-12 col-lg-6 col-sm-12 ">
        <!-- <label>Los siguientes registros fueron omitidos debido a insconsistencias en sus datos:</label> -->
        <label>{{'Los'|translate}} {{'siguientes'|translate}} {{'registros'|translate}} {{'fueron'|translate}} {{'omitidos'|translate}} {{'debido'|translate}} {{'a'|translate}} {{'inconsistencias'|translate}} {{'en'|translate}} {{'sus'|translate}} datos:</label>
        <textarea class="form-control" style="color:red;"  id="txtErrores" readonly rows="10">{{arrayErrores}}</textarea>
      </div>
    </div>
  </div>
</form>
