<div class="row text-right sish-miga-de-pan">
  <div class="col-md-12 text-right">
      <ol class="breadcrumb float-sm-right sish-miga-de-pan">
          <li class="breadcrumb-item active">Configuración</li>
          <li class="breadcrumb-item active" [routerLink]="['/configuracion/Observaciones']">
              {{ 'Cargar Aforo' | translate }}
          </li>
          <li class="breadcrumb-item">
              {{ id === "0" ? "Crear" : "Editar" }}
          </li>
      </ol>
  </div>
</div>
<div class="container-fluid bg-white pt-5">
  <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="sish-titulo-formulario">
              {{'Cargar aforo' | translate}}
          </h2>
      </div>
  </div>
  <br>
  <!--INICIA FORMULARIO-->
  <form class="sish-form" #ngForm="ngForm" [formGroup]="formularioAforo" (ngSubmit)="guardarAforo()" novalidate>
      <input name="id" formControlName="idAforo" type="hidden" />

      <div class="text-center form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 " width="100%">
          <label style="color: #2c9ce1; font-weight: 100; font-family: Montserrat-Regular, Courier New, Courier, monospace;">Tipo aforo</label>
          <br>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="idTipoAforo"  name="idTipoAforo" id="idTipoAforo" value="481" >
              <label class="form-check-label" for="inlineRadio3">Liquido</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="idTipoAforo"  name="idTipoAforo" id="idTipoAforo" value="482" >
              <label class="form-check-label" for="inlineRadio4">Otros</label>
          </div>
       <!--   <p *ngIf="ngForm.submitted && idMecanismo!.invalid" class="error">
              <sup>*</sup> {{ 'idMecanismo' | translate }} {{'obligatoria'|translate}}
          </p>-->
      </div>
      <div class="row" width="100%" >

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Tipo' | translate }} {{ ' elemento' | translate }} *</label>
              <ng-select2 name="nombreElemento" [data]="listaElementos" formControlName="idTipoElemento" [(ngModel)]="slcTipoElemento" (ngModelChange)="obtenerElementos($event)" [width]="'100%'" placeholder="{{ 'Seleccionar' | translate }}..." >
              </ng-select2>
          </div>

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12" >
              <label> {{ 'Nombre' | translate }} elemento *</label>
              <ng-select2 name="nombreElemento" [data]="listaElemento"  *ngIf="ac=='C'" formControlName="idElemento" [(ngModel)]="idElemento" [width]="'100%'" (ngModelChange)="obtenerParametrosElemento($event,idTipoElemento)" placeholder="{{ 'Seleccionar' | translate }}..." [disabled]="idTipoElemento == undefined || id!='0'">
              </ng-select2>
              <input type="text" class="form-control" *ngIf="ac=='E'" formControlName="nombreElemento" name="nombreElemento" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />
              <input type="text" class="form-control" *ngIf="ac=='V'" formControlName="nombreElemento" name="nombreElemento" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />

              <p *ngIf="!validadorAforo && idElemento == '0'" class="error">
                  <sup>*</sup> {{ "Nombre" | translate }} {{ "obligatorio" | translate }}
              </p>
          </div>

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoElemento ==466">
              <label> {{ 'codigo' | translate }} EAAB</label>
              <ng-select2 name="CodigoEAAB" formControlName="codigoEAAB" *ngIf="ac=='C'" [data]="listaCodigoEAAB" [(ngModel)]="idElemento" [width]="'100%'" placeholder="{{ 'Seleccionar' | translate }} {{
           'categoriaEstacion' | translate
           }}..." >
              </ng-select2>
              <input type="text" class="form-control" formControlName="codigoEAAB" *ngIf="ac=='E'" name="codigoEAAB" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />
              <input type="text" class="form-control" formControlName="codigoEAAB" *ngIf="ac=='V'" name="codigoEAAB" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />

          </div>
         

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoElemento ==466">
              <label> {{ 'codigo' | translate }} IDEAM</label>
              <ng-select2 name="codigoIDEAM" formControlName="codigoIDEAM" *ngIf="ac=='C'"  [(ngModel)]="idElemento" [data]="listaCodigoIDEAM"  [width]="'100%'" placeholder="{{ 'Seleccionar' | translate }} {{
           'categoriaEstacion' | translate
           }}..." >
              </ng-select2>

              <input type="text" class="form-control" formControlName="codigoIDEAM" *ngIf="ac=='E'" name="codigoIDEAM" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />
              <input type="text" class="form-control" formControlName="codigoIDEAM" *ngIf="ac=='V'" name="codigoIDEAM" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />

          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Nombre' | translate }} {{' corriente'|translate}} </label>
              
              <input type="text" class="form-control" formControlName="nombreCorriente" [(ngModel)]="slcNombreCorriente" name="nombreCorriente" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" />

             <!-- <p *ngIf="!validadorAforo && nombreCorriente!.invalid && idTipoElemento ==466" class="error">
                  <sup>*</sup> {{ 'Nombre' | translate }}{{ 'corriente' | translate }} {{'obligatoria'|translate}}
              </p>-->
          </div>
          <br/>
          <div class="row" width="100%">
              <div class="col-md-12">
                  <h3 class="sish-titulo-formulario">{{ 'Aforo'|translate}}</h3>
                  <hr>
              </div>
          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Fecha' | translate }} *</label>
              <input type="date"  class="form-control" formControlName="fecha" *ngIf="ac=='C'" value="{{fecha}}" name="fecha"  placeholder="{{ 'Nombre' | translate }}" />
              <!-- <input type="date"  class="form-control" formControlName="fecha" *ngIf="ac=='C'" value="{{ fecha | date:'yyyy-MM-dd' }}" name="fecha"  placeholder="{{ 'Nombre' | translate }}" /> -->
              <!--
              <input type="text"  class="form-control" formControlName="fecha" *ngIf="ac=='E'" name="fecha"  placeholder="{{ 'Nombre' | translate }}" />
              <input type="text"  class="form-control" formControlName="fecha" *ngIf="ac=='V'" name="fecha"  placeholder="{{ 'Nombre' | translate }}" />
              -->

              <!--<input type="text"  class="form-control" formControlName="fecha" name="fecha" [(ngModel)]="sleFecha" placeholder="{{ 'Nombre' | translate }}" />-->

              <p *ngIf="!validadorAforo && fecha!.invalid" class="error">
                  <sup>*</sup> {{ 'Fecha' | translate }} {{'obligatoria'|translate}}
              </p>
          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Hora inicial' | translate }} *</label>
              <input type="time" *ngIf="ac=='C'" class="form-control" formControlName="horaInicial" name="horaInicial" placeholder="{{ 'horaInicial' | translate }}"   />
              <input type="time" *ngIf="ac=='E'" class="form-control" formControlName="horaInicial" name="horaInicial" placeholder="{{ 'horaInicial' | translate }}"   />

              <input type="text" *ngIf="ac=='V'"  class="form-control" formControlName="horaInicial" name="horaInicial" placeholder="{{ 'horaInicial' | translate }}"   />
              <!--<input type="text" *ngIf="id!='0'" class="form-control" formControlName="horaInicial" name="horaInicial" [(ngModel)]="sleHoraInicial"  placeholder="{{ 'Nombre' | translate }}" />-->
              <p *ngIf="!validadorAforo && horaInicial!.invalid" class="error">
                  <sup>*</sup> {{ 'horaInicial' | translate }}
              </p>
          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Nivel inicial' | translate }} *</label>
              <input type="number"  class="form-control" formControlName="nivelInicial" name="nivelInicial" placeholder="{{ 'nivelInicial' | translate }}" />

              <p *ngIf="!validadorAforo && nivelInicial!.invalid" class="error">
                  <sup>*</sup> {{ 'nivelInicial' | translate }} {{'obligatoria'|translate}}
              </p>

          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Hora final' | translate }} *</label>
              <input type="time"  *ngIf="ac=='C'" class="form-control" formControlName="horaFinal" name="horaFinal" placeholder="{{ 'nivelInicial' | translate }}" />
              <input type="text"  *ngIf="ac=='V'" class="form-control" formControlName="horaFinal" name="horaFinal" placeholder="{{ 'nivelInicial' | translate }}" />
              <input type="time" *ngIf="ac=='E'" class="form-control" formControlName="horaFinal" name="horaFinal" placeholder="{{ 'nivelInicial' | translate }}" />

              <!--<input type="text" *ngIf="id!='0'" class="form-control" formControlName="horafinal" name="horafinal" [(ngModel)]="sleHoraInicial"  placeholder="{{ 'Nombre' | translate }}" />-->
              <p *ngIf="!validadorAforo && horaFinal!.invalid" class="error">
                  <sup>*</sup> {{ 'horafinal' | translate }} {{'obligatoria'|translate}}
              </p>

          </div>

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Nivel final' | translate }} *</label>
              <input type="number"  class="form-control" formControlName="nivelFinal" name="nivelFinal" placeholder="{{ 'nivelFinal' | translate }}" />
              
              <p *ngIf="!validadorAforo && nivelFinal!.invalid" class="error">
                  <sup>*</sup> {{ 'nivelFinal' | translate }} {{'obligatoria'|translate}}
              </p>

          </div>
          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Aforador' | translate }} *</label>

              <ng-select2 name="idAforoAforador"   *ngIf="ac=='C'"  formControlName="idAforoAforador"  [data]="listaAforador" [(ngModel)]="seleccionAforador"  [width]="'100%'" placeholder="{{ 'Nombre' | translate }} {{
                  'categoriaEstacion' | translate
                  }}...">
                     </ng-select2>    
                     <input type="text" class="form-control"  *ngIf="ac=='V'"  formControlName="aforador" name="aforador" placeholder="{{ 'Nombre' | translate }}" [disabled]="true" /> 
                           
          </div>
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "Metodo de medición" | translate }}  </label>

              <ng-select2 name="idMetodoMedicion"   *ngIf="ac=='C'"  [data]="listaMetodoMedicion" formControlName="idMetodoMedicion" [width]="'100%'"  placeholder="{{ 'Seleccionar' | translate }} {{
                'metodo de medición' | translate
               }}...">
              </ng-select2>
              <input type="text"  class="form-control"   *ngIf="ac=='V'" formControlName="idMetodoMedicion" name="idMetodoMedicion"  [width]="'100%'"  />

          </div>


          <div class="row">
              <div class="form-group">

                  <div class="btn-group mr-2 text-center" aria-label="First group">
                      <button type="button" (click)="crearAforo()"   [disabled]="ac=='V'"  class="sish-boton-confirmar"> 
                  {{ 'Botones.Crear' | translate }} {{' aforo'|translate}}
                
                      </button>

                  </div>
              </div>
          </div>


          <br/>
          <div class="row" width="100%">
              <div class="col-md-12">
                  <h3 class="sish-titulo-formulario">{{ 'Identificación de punto'|translate}}</h3>
                  <hr>
              </div>
          </div>

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label> {{ 'Espejo de agua' | translate }}</label>
              <ng-select2 name="idespejo" formControlName="idespejo" [data]="listaEspejo" [(ngModel)]="slcEspejo" [width]="'100%'" placeholder="{{ 'Seleccionar' | translate }} {{
           'espejoAgua' | translate
           }}...">
              </ng-select2>
          </div>

          <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "Tipo de coordenada" | translate }}</label>

              <ng-select2 name="idTipoCoordenadas"  *ngIf="ac=='C'"  [data]="listaTipoCoordenada" [(ngModel)]="idTipoCoordenadas" formControlName="idTipoCoordenadas" [width]="'100%'"  placeholder="{{ 'Seleccionar' | translate }} {{
                ' tipo de coordenada' | translate
               }}...">
              </ng-select2>
              <input type="text"  class="form-control" name="tipoCoordenadas"  *ngIf="ac=='V'"  formControlName="tipoCoordenadas" [width]="'100%'"  />

              
          </div>


          <div class="form-group  col-xl-2 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoCoordenadas == 192">
              <label> {{ "Latitud" | translate }}</label>
              <input type="number" class="form-control" formControlName="latitud" name="Latitud" placeholder="{{ 'Latitud' | translate }}" />
          </div>
          <div class="form-group  col-xl-2 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoCoordenadas == 192">
              <label> {{ "Longitud" | translate }}</label>
              <input type="number" class="form-control" formControlName="longitud" name="Norte" placeholder="{{ 'Longitud' | translate }}" />
          </div>


          <div class="form-group  col-xl-2 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoCoordenadas == 191">
              <label> {{ "Norte" | translate }}</label>
              <input type="number" class="form-control" formControlName="norte" name="Norte" placeholder="{{ 'Norte' | translate }}" />
          </div>
          <div class="form-group  col-xl-2 col-lg-6 col-md-6 col-sm-12" *ngIf="idTipoCoordenadas == 191">
              <label> {{ "Este" | translate }}</label>
              <input type="number" class="form-control" formControlName="este" name="Este" placeholder="{{ 'Este' | translate }}" />
          </div>

          <br/>
          <div class="row" width="100%">
              <div class="col-md-12">
                  <h3 class="sish-titulo-formulario" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      {{ 'Identificación del equipo'|translate}}
                  </h3>
                  <hr>
              </div>
          </div>

          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "Tipo" | translate }} {{ "correntometro" | translate }} </label>
              <ng-select2 name="idMolinete"  *ngIf="ac=='E'" [data]="listaMolinetes" formControlName="idMolinete" [width]="'100%'" (ngModelChange)="obtenerHelice($event)"   placeholder="Correntometro...">
              </ng-select2>
              <ng-select2 name="idMolinete"  *ngIf="ac=='C'" [data]="listaMolinetes" formControlName="idMolinete" [width]="'100%'" (ngModelChange)="obtenerHelice($event)"   placeholder="Correntometro...">
              </ng-select2>
              <input type="text"  class="form-control" name="idMolinete"  *ngIf="ac=='V'"  formControlName="idMolinete" [width]="'100%'"  />

          </div>


          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "Marca" | translate }} {{ " - serie" | translate }} - hélice</label>
              
              <ng-select2 name="idHelice"   *ngIf="ac=='C'" [data]="listaHelices" formControlName="idHelice" [width]="'100%'" (ngModelChange)="obtenerInfoHelice($event)"    placeholder="{{ 'Seleccionar' | translate }} {{
                ' marca serie hélice' | translate
               }}...">>
              </ng-select2>
              <input type="text"  class="form-control"   *ngIf="ac=='V'"  formControlName="idHelice" [width]="'100%'" [width]="'100%'"  />

              <!--<ng-select2 name="tipoCoordenada" [data]="listaTipoCoordenada" formControlName="idTipoCoordenadas" [width]="'100%'" [(ngModel)]="tipoCoordenadaSelect" placeholder="{{ 'Seleccionar' | translate }} {{
                'departamento' | translate
               }}...">
              </ng-select2>-->

          </div>
         
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "Constante equipo" | translate }}  </label>
              <input type="text" class="form-control" formControlName="constanteEquipo" name="constanteEquipo"  placeholder="{{'Constate equipo' | translate}}...">/>

          </div>
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>{{ "ecuacion" | translate }}  </label>

              <input type="text" class="form-control" formControlName="ecuacion" name="ecuacion" placeholder="{{ 'ecuacion' | translate }}" />

          </div>
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>N > 0 </label>

              <input type="text" class="form-control" formControlName="norteMayor" name="norteMayor" placeholder="{{ 'N > O' | translate }}" />

          </div>
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>N < 0 </label>

              <input type="text" class="form-control" formControlName="norteMenor" name="norteMenor" placeholder="{{ 'N < o' | translate }}" />

          </div>
          <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
              <label>Coeficiente </label>

              <input type="text" class="form-control" formControlName="coeficionte" name="coeficionte" placeholder="{{ 'Coeficiente | translate }}" />

          </div>
          <div class="row">
              <div class="form-group">
                <div class="custom-file" *ngIf="idAforo">
                    <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                        class="custom-file-input" id="cargaMasivaAforoFile" name="cargaMasivaAforoFile"
                        (change)="onValidarArchivo($event)" [disabled]="ver == false" />
                    <label class="custom-file-label"
                        for="cargaMasivaAforoFile">{{nombreArchivoCargueMasivo}}
                    </label>
                </div>

                <!--
                  <div    *ngIf="idAforo" class="btn-group mr-2 text-center" aria-label="First group"> 
                      <button     [disabled]="ver == false"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdscisa"> 
                              {{ 'Agregar' | translate }}  Abscisa
                              </button>
                  </div>
                  <div class="btn-group mr-2 text-center" *ngIf="listaDato.length > 0" aria-label="First group">
                      <button type="button"   [disabled]="ver == false"  class="btn btn-primary" data-toggle="modal" id="btn_1" data-target="#ModalElemento"> 
                              {{ 'Agregar' | translate }}  Dato
                              </button>
                  </div>
                -->
              </div>
          </div>

          <hr>

          <br/>
          <div class="row" width="100%">
              <div class="col-md-12">
                  <h3 class="sish-titulo-formulario">{{ 'Tabla de datos'|translate}}</h3>
                  <hr>
              </div>

              <div class="container-fluid">
                  <div class="row">
                      <div class="form-group col-xl-8 col-lg-6 col-md-6 col-sm-12">
                          <caption><h3>Datos</h3></caption>
                          <table datatable class="sish-tabla">
                          
                              <thead>
                                  <tr>
                                      <th scope="col">Consecutivo </th>
                                      <th scope="col">Abscisa (m) </th>
                                      <th scope="col">Profundidad observada (m)   </th>
                                      <th scope="col">Profundidad de la observación(m)</th>
                                      <th scope="col">Revoluciones (#)</th>
                                      <th scope="col">Tiempo (s)</th>
                                      <th scope="col">N (n/t)</th>
                                      <th scope="col">Velocidad (m/s) </th>
                                      

                                  </tr>
                              </thead>

                              <tbody>
                                  <tr class="text-center">
                                      <tr class="text-center" *ngFor="let dato of listaAbscisa">

                                          <th scope="row"> {{dato.punto | number:'1.0'}} </th>
                                          <th scope="row"> {{dato.abscisa | number:'1.1-1'}} </th>
                                          <th scope="row"> {{dato.profundidadObservada | number:'1.1-2'}} </th>
                                          <th scope="row"> {{dato.PA | number:'1.1-2'}} </th>
                                          <th scope="row"> {{dato.revoluciones | number:'1.0'}} </th>
                                          <th scope="row"> {{dato.tiempo | number:'1.0'}} </th>
                                          <th scope="row"> {{dato.N | number:'1.1-2'}} </th>
                                          <th scope="row"> {{dato.velocidad | number:'1.1-2'}} </th>
                                         

                                      </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <caption> <h3>Secciones</h3> </caption>
                          <table datatable class="sish-tabla">
                              
                              <thead>
                                  <tr>
                                      <th scope="col">Abscisa </th>
                                      <th scope="col">Profundidad Total (m)</th>
                                      <th scope="col">Velocidad VMV (m/x) </th>
                                      <th scope="col">Velocidad Media (m/x) </th>
                                      <th scope="col">Area (㎡)</th>
                                      <th scope="col">Caudal Parcial  (㎥/s)  </th>
                                      
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="text-center">
                                      <tr class="text-center" *ngFor="let dato of listaDato">

                                          <th scope="row"> {{dato.abscisa  | number:'1.1-1'}}   </th>
                                          <th scope="row"> {{dato.profundidadTotal | number:'1.1-3'}} </th>
                                          <th scope="row"> {{dato.VMV | number:'1.1-3'}} </th>
                                          <th scope="row"> {{dato.velocidadMedia | number:'1.1-3'}}  </th>
                                          <th scope="row"> {{dato.area | number:'1.1-3'}}  </th>
                                          <th scope="row"> {{dato.caudalparcial | number:'1.1-3'}}  </th>
                                        
                                      </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--BOTONES-->
      <div>
          <div class="form-group col-xl-12 col-lg-6 col-sm-12 ">
          <label for="observaciones">Observaciones </label>
          <textarea class="form-control"  rows="5" formControlName="observaciones" id="observaciones"></textarea>
      </div>
      </div>
      <div class="row">
          <div class="form-group col-xl-12 col-lg-6 col-sm-12 ">


              <div class="btn-group mr-2" role="group" aria-label="First group" *ngIf="idMecanismo.value == 469">
                  <button type="submit" class="sish-boton-confirmar"  *ngIf="id == '0'" [disabled]="entradManual"> 
              {{ 'Botones.Crear' | translate }}
              </button>
                  <button type="button" class="sish-boton-confirmar"  (click)="guardarAforo()" *ngIf="id != '0'"> 
              {{ 'Botones.Guardar' | translate }}
              </button>
              </div>

              <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="sish-boton-cancelar" [routerLink]="['/configuracion/gestionAforo']">
                          {{ 'Botones.Cancelar' | translate }}
                      </button>
                      <button type="button" class="sish-boton-cancelar" (click)="regresarCurva()" >
                          {{ 'Botones.Regresar' | translate }}
                      </button>
              </div>
          </div>
      </div>
  </form>
  <!--FINALIZA FORMULARIO-->
  <div class="form-group col-xl-12 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <label for="periodo"> Archivo </label>
          <section class="section-preview">
              <div class="input-group my-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Adjuntar
                          Imagen Video</span>
                  </div>
                  <div class="custom-file">
                      <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png/mp4"
                          class="custom-file-input" id="inputFileServer"
                       aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)">
                      <label class="custom-file-label"
                          for="inputGroupFile01">{{imagenCargada}}</label>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>

<!-- MODAL -->
<div id="ModalElemento" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ "Aforos" | translate }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <div class="sish-form">
                  <div class="row" width="100%">


                      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <label>
                          abscisa
                      </label>
                          <select class="form-control" (change)="asignaradscisa(select)" name="select" [(ngModel)]="select"> 
                              <option value="0" >Seleccionar Abscisa</option>
                          <option *ngFor="let dato of listaDato" [value]="dato.abscisa">
                              {{dato.abscisa}}
                          </option>
                      </select>
                      </div>



                      <div *ngIf="select !=0" class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <label> Consecutivo</label>                         
                          <input type="number" class="form-control" name="punto"  [disabled]="true"  [(ngModel)]="punto" placeholder="{{ 'Consecutivo' | translate }}" />
                      </div>

                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "ProfundidadObservada" | translate }} (m) </label>
                          <!--<input type="number" (change)="calcular()" [(ngModel)]="profundidadObservada" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="profundidadObservada" placeholder="{{ 'Profundidad Observada' | translate }}" />-->
                          <select class="form-control" (change)="calcular()" name="select" [(ngModel)]="profundidadObservada"> 
                              <option value="0" >Seleccionar Abscisa</option>
                          <option *ngFor="let dato of listaProfundidad" [value]="dato=='Superficial' ? 0: dato">
                              {{dato}}
                          </option>
                      </select>
                      </div>
                      
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "profundidadObservación" | translate }} (m) </label>
                          <input type="number" [(ngModel)]="PA" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" [disabled]="true" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Revoluciones" | translate }}</label>
                          <input type="number" (change)="calcular()" class="form-control" [(ngModel)]="revoluciones" name="revoluciones" placeholder="{{ 'Revoluciones' | translate }}" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Tiempo" | translate }} (s)</label>
                          <input type="number" (change)="calcular()" class="form-control" name="tiempo" [(ngModel)]="tiempo" placeholder="{{ 'Segundos' | translate }}" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "N" | translate }}</label>
                          <input type="number" class="form-control" name="N" [(ngModel)]="N" [disabled]="true" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Velocidad" | translate }} (m/s) </label>
                          <input type="number" [disabled]="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" [(ngModel)]="velocidad" class="form-control" name="velocidad" />
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">

              <button type="button" class="sish-boton-confirmar"  (click)="agregarLista()" data-dismiss="modal">Agregar</button>
              <button type="button" class="sish-boton-cancelar" data-dismiss="modal">cerrar</button>
          </div>
      </div>
  </div>
</div>

<div id="ModalAdscisa" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ "Aforos" | translate }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <div class="sish-form">
                  <div class="row" width="100%">

                      <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Abscisa" | translate }}</label>
                          <input type="number" [(ngModel)]="abscisa" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="abscisa" placeholder="{{ 'Abscisa' | translate }}" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Profundidadtotal" | translate }} (m) </label>
                          <input type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01
                          " [(ngModel)]="profundidadTotal" class="form-control" (change)="calcular()" name="profundidadTotal" placeholder="{{ 'profundidad Total' | translate }}" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "VMV" | translate }} (m/s)</label>
                          <input type="number" [disabled]="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" [(ngModel)]="VMV" name="VMV" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Velocidad media" | translate }} (m/s) </label>
                          <input type="number" [disabled]="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="velocidadMedia" [(ngModel)]="velocidadMedia" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Área" | translate }} (m2) </label>
                          <input type="number" [disabled]="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="area" [(ngModel)]="area" />
                      </div>
                      <div class="form-group col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <label> {{ "Caudal parcial" | translate }} (m3/s) </label>
                          <input type="number" [disabled]="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" class="form-control" name="caudalparcial" [(ngModel)]="caudalparcial" />
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="sish-boton-confirmar" (click)="agregarAbscisa()" data-dismiss="modal">Agregar</button>
              <button type="button" class="sish-boton-cancelar" data-dismiss="modal">cerrar</button>
          </div>            
      </div>       
  </div>
</div>
